{% extends 'index.html' %} {% load customer_tags %} {% block body %}

<div class="container w-50">
  {% if is_update_view %}
  <h2 class="mb-3" id="updateFlag">Update Customer</h2>
  {% else %}
  <h2 class="mb-3">Create Customer</h2>
  {% endif %} {% load crispy_forms_tags %}

  <form method="post">{% csrf_token %} {% crispy form %}</form>
</div>
<input
  type="hidden"
  name="customerUUID"
  id="customerUUID"
  value="{{ customer.uuid }}"
/>

{% include "customer/address_form.html" %} {% endblock body %}
